<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>#{get 'title' /}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/fileuploader.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/cmskern.css'}">
        #{get 'moreStyles' /}

        <!-- JavaScripts -->
        <script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-1.7.1.min.js'}"></script>

        <script type="text/javascript" src="@{'/public/javascripts/bootstrap/bootstrap.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap/bootbox.min.js'}"></script>

        <script type="text/javascript" src="@{'/public/javascripts/fileuploader.js'}"></script>

        #{get 'moreScripts' /}

        <!-- Fav (and touch) icons -->
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <h2><a class="brand" href="/">CMSkern</a></h2>
                    <div>
                        <ul class="nav">
                            <li class="active home"><a href="/">Home</a></li>
                            #{secure.check "admin"}
                              <li class="admin-area"><a href="/admin">Admin Area</a></li>
                            #{/secure.check}
                            <!-- li><a href="#contact">Contact</a></li -->
                        </ul>
                        #{if session.username}
                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-user"></i> ${session.username}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@{Secure.logout()}">Log Out</a></li>
                                </ul>
                            </div>
                        #{/if}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav sidebar-nav-fixed">

                        <ul class="nav nav-list">
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <li class="nav-header content active-header">
                            <div class="menu-arrow"></div>
                            Content
                            </li>
                            *{ ~~ TODO retrieve via ContentType.findByGroup('content') ~~ }*
                            	<li class="contentType">Article:</li>
                            	<li class="active listContentType"><a href="@{Application.list('article')}">List</a></li>
                            	<li class="newContentType"><a href="@{ContentNodes.blank('article')}">New</a></li>
                            	<div class="separator"></div>

                            <li class="nav-header editorial">Editiorial Content</li>
                            #{list items:editorialTypes, as:'contentType'}
                                <li class="contentType">${contentType.displayName}:</li>
                                <li class="listContentType"><a href="@{Application.list(contentType.slug)}">List</a></li> 
                                <li class="newContentType"><a href="@{ContentNodes.blank(contentType.slug)}">New</a></li>
                                <div class="separator"></div>
                            #{/list}

                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <li class="nav-header site">Site Structure</li>
                            #{list items:siteTypes, as:'contentType'}
                                <li class="contentType">${contentType.displayName}:</li>
                                <li class="site listContentType"><a href="@{Application.list(contentType.slug)}">List</a></li>
                                <li class="site newContentType"><a href="@{ContentNodes.blank(contentType.slug)}">New</a></li>
                                <div class="separator"></div>
                            #{/list}

                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            <li class="nav-header admin-tasks">Admin Tasks</li>
							<li class="contentType">Content Types:</li>
                            <li class="admin listContentType"><a href="@{ContentTypes.list()}">List</a></li>
                            <li class="admin newContentType"><a href="@{ContentTypes.blank()}">New</a></li>
                            <div class="separator"></div>

							<li class="contentType">User:</li>
                            <li class="admin listContentType"><a href="@{Users.list()}">List</a></li>
                            <li class="admin newContentType"><a href="@{Users.blank()}">New</a></li>
							<div class="separator"></div>
                        </ul>
                    </div>
                </div>

                <div class="span9 span-fixed-sidebar"><!-- content -->
                    <div class="page-header">
                        <h1>#{get 'title' /} <small></small></h1>
                    </div>
                    <div class="row-fluid">
                        #{doLayout /}
                    </div>
                </div>

            </div>

            <footer>
                <p>&copy; G+J 2012</p>
            </footer>
        </div><!-- /container -->

    </body>
</html>
