%{ nrPages = _totalCount.page(_pageSize) }%

#{if nrPages > 1}
    <ul>

    %{
        limit = (_limit != null ? _limit : 10)
        start = _caller.page - (int)(limit/2) + (limit % 2 ? 0 : 1)
        end   = _caller.page + (int)(limit/2)

        if (start < 1) {
            extra = 1 - start
            end = (end + extra < nrPages ? end + extra : nrPages)
            start = 1
        } else if (end > nrPages) {
            extra = end - nrPages
            start = (start - extra > 1 ? start - extra : 1)
            end = nrPages
        }
    }%

    #{if start > 1}
        <li>
            #{a @list(_caller.params.typeName).add('page', 1)}&larr;#{/a}
        </li>
    #{/if}

    #{if _caller.page > 1}
        <li>
            #{a @list(_caller.params.typeName).add('page', _caller.page-1)}«#{/a}
        </li>
    #{/if}

    %{ for (i in start..end) { }%
        <li class="#{if _caller.page == i}disabled#{/if}">
            #{a @list(_caller.params.typeName).add('page', i)}${i}#{/a}
        </li>
    %{ } }%


    #{if _caller.page < nrPages}
        <li>
            #{a @list(_caller.params.typeName).add('page', _caller.page+1), title: 'next'}»#{/a}
        </li>
    #{/if}

    #{if end < nrPages}
        <li>
            #{a @list(_caller.params.typeName).add('page', nrPages)}&rarr;#{/a}
        </li>
    #{/if}

    </ul>
#{/if}
