/* Override some defaults from bootstrap */
/* line 39, ../../compass/sass/cmskern.scss */
html, body {
  background-color: #eee;
  background-image: url(../images/extra_clean_paper.png);
}

/* line 44, ../../compass/sass/cmskern.scss */
body {
  padding-top: 40px;
  /* 40px to make the container go all the way to the bottom of the topbar */
}

/* line 47, ../../compass/sass/cmskern.scss */
a {
  color: #999999;
}

/* line 50, ../../compass/sass/cmskern.scss */
a:hover {
  color: #30a4b1;
}

/* line 57, ../../compass/sass/cmskern.scss */
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover {
  background: #30a4b1;
}

/* line 60, ../../compass/sass/cmskern.scss */
h1 {
  color: #666666;
}

/* line 64, ../../compass/sass/cmskern.scss */
h2 {
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 69, ../../compass/sass/cmskern.scss */
h3 {
  font-weight: 400;
  line-height: 37px;
}
/* line 75, ../../compass/sass/cmskern.scss */
.contentTypeName small a {
  background: #f7941d;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: none;
  float: left;
  height: 20px;
  margin: 10px 0 0 5px;
  position: absolute;
  width: 20px;
}

h1.contentTypeName small a .icon-plus {
    margin: 2px 3px 0;
}

/* line 84, ../../compass/sass/cmskern.scss */
h3.contentTypeName small a .icon-plus {
  margin: -8px 0 5px 3px;
}

/* line 87, ../../compass/sass/cmskern.scss */
.contentTypeName small a:hover {
  background: #30a4b1;
}

/* line 92, ../../compass/sass/cmskern.scss */
.btn_add a.ng-directive {
  background: #f7941d;
  margin: 5px 0 10px 5px;
  padding: 5px 10px;
  float: left;
  color: #fff;
}
/* line 98, ../../compass/sass/cmskern.scss */
.btn_add a.ng-directive .icon-plus {
  margin: 0;
  color: #fff;
}
/* line 102, ../../compass/sass/cmskern.scss */
.btn_add a.ng-directive:hover {
  background: #30a4b1;
  text-decoration: none;
}

/* line 107, ../../compass/sass/cmskern.scss */
button.ng-directive {
  background: #e1e1e1;
}

/* line 110, ../../compass/sass/cmskern.scss */
a.ng-directive.remove {
  background: #f7941d;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: none;
  margin: 13px 0 0 5px;
  padding: 1px 4px;
  color: black;
}
/* line 117, ../../compass/sass/cmskern.scss */
a.ng-directive.remove .icon-minus {
  margin: 2px 0 0 1px;
}
/* line 119, ../../compass/sass/cmskern.scss */
a.ng-directive.remove:hover {
  background: #30a4b1;
}

/* ---- control styles -- */
/* line 126, ../../compass/sass/cmskern.scss */
div.mini legend {
  float: left;
}
/* line 129, ../../compass/sass/cmskern.scss */
div.mini .control-group {
  margin: 0;
  padding: 0;
}

/* -- Nav Bar Top horizontal --*/
/* line 135, ../../compass/sass/cmskern.scss */
.navbar {
  border-bottom: 2px solid #30a4b1;
}
/* line 137, ../../compass/sass/cmskern.scss */
.navbar h2 {
  text-align: center;
  padding: 30px 0 0 0;
  margin: 0 0 0 -250px;
  float: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #27767f), color-stop(100%, #30a4b1));
  background-image: -webkit-linear-gradient(#27767f 10%, #30a4b1 100%);
  background-image: -moz-linear-gradient(#27767f 10%, #30a4b1 100%);
  background-image: -o-linear-gradient(#27767f 10%, #30a4b1 100%);
  background-image: -ms-linear-gradient(#27767f 10%, #30a4b1 100%);
  background-image: linear-gradient(#27767f 10%, #30a4b1 100%);
  /*background:#27767F;*/
  border-top: 1px solid black;
  -moz-border-radius-bottomleft: 250px;
  -webkit-border-bottom-left-radius: 250px;
  border-bottom-left-radius: 250px;
  -moz-border-radius-bottomright: 250px;
  -webkit-border-bottom-right-radius: 250px;
  border-bottom-right-radius: 250px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px;
  /*line-height:740px;*/
  width: 500px;
  height: 400px;
  position: absolute;
  top: -380px;
  left: 50%;
  text-shadow: rgba(255, 0, 0, 0.6) 0px 1px 3px;
}
/* line 154, ../../compass/sass/cmskern.scss */
.navbar h2 a.brand {
  background: transparent url(../images/logo-cmskern.png) top left no-repeat;
  height: 78px;
  width: 190px;
  margin: 330px 0 0 152px;
  text-indent: -9999em;
}

/* line 163, ../../compass/sass/cmskern.scss */
.navbar .nav {
  margin-left: 20px;
}

/* line 166, ../../compass/sass/cmskern.scss */
.navbar .navbar-text {
  margin-right: 20px;
}

/* line 169, ../../compass/sass/cmskern.scss */
.navbar .nav > li.home > a {
  background: transparent url(../images/home.png) left center no-repeat;
  padding: 0 0 0 20px;
  line-height: 40px;
}

/* line 175, ../../compass/sass/cmskern.scss */
.navbar .nav > li.home.active > a,
.navbar .nav > li.home > a:hover {
  background: transparent url(../images/home-mo.png) left center no-repeat;
}

/* line 178, ../../compass/sass/cmskern.scss */
.navbar .nav > li.admin-area > a {
  background: transparent url(../images/admin-area.png) left center no-repeat;
  padding: 0 0 0 20px;
  margin-left: 20px;
  line-height: 40px;
}

/* line 185, ../../compass/sass/cmskern.scss */
.navbar .nav > li.admin-area.active > a,
.navbar .nav > li.admin-area > a:hover {
  background: transparent url(../images/admin-area-mo.png) left center no-repeat;
}

/* line 188, ../../compass/sass/cmskern.scss */
.btn-navbar {
  background-color: #2C2C2C;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 195, ../../compass/sass/cmskern.scss */
.btn-navbar span.i-bar {
  color: #fff;
}

/* line 198, ../../compass/sass/cmskern.scss */
.navbar .btn-group .btn {
  margin: 5px 20px 0 0;
  color: #fff;
}

/* line 202, ../../compass/sass/cmskern.scss */
.navbar .dropdown-menu {
  left: -90px;
  top: 30px;
}

/* line 206, ../../compass/sass/cmskern.scss */
.navbar .dropdown-menu:after {
  left: 90px;
}

/* line 209, ../../compass/sass/cmskern.scss */
.btn-group .dropdown-toggle {
  box-shadow: none;
  padding: 0px;
  background: transparent;
}

/* line 214, ../../compass/sass/cmskern.scss */
.btn-group .btn:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}

/* line 219, ../../compass/sass/cmskern.scss */
.btn-group .dropdown-toggle {
  box-shadow: none;
  padding: 0;
}

/* line 223, ../../compass/sass/cmskern.scss */
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

/* line 226, ../../compass/sass/cmskern.scss */
.btn-group .btn:last-child, .btn-group .dropdown-toggle {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 230, ../../compass/sass/cmskern.scss */
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #30a4b1;
}

/* line 236, ../../compass/sass/cmskern.scss */
.caret {
  border-top: 4px solid #FFFFFF;
}

/* ~~ Nav Bar List ~~ */
/* line 240, ../../compass/sass/cmskern.scss */
.well {
  background: transparent;
}

/* line 243, ../../compass/sass/cmskern.scss */
.sidebar-nav-fixed {
  padding: 0;
  position: fixed;
  left: 20px;
  top: 100px;
  width: 225px;
}

/* line 250, ../../compass/sass/cmskern.scss */
.row-fluid > .span-fixed-sidebar {
  margin-left: 290px;
}

/* line 253, ../../compass/sass/cmskern.scss */
.nav-list {
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  padding: 10px 0 0 0;
  margin: 0;
}

/* line 260, ../../compass/sass/cmskern.scss */
.nav-list .thead {
  color: white;
  background: black;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  padding: 10px 10px 10px 20px;
  text-transform: uppercase;
}

/* line 267, ../../compass/sass/cmskern.scss */
.nav-list .nav-header {
  color: #fff;
  background: #ccc;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  margin: 15px 0 7px 0;
  padding: 0 0 0 35px;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
/* line 278, ../../compass/sass/cmskern.scss */
.nav-list .nav-header:first-child {
  margin-top: 5px;
}
/* line 281, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.active-header {
  background-color: #30a4b1;
}
/* line 283, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.active-header .menu-arrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #30a4b1;
  position: absolute;
  top: 1px;
  right: -12px;
}
/* line 285, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.content {
  background-image: url(../images/content-mo.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}
/* line 290, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.editorial {
  background-image: url(../images/content-mo.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}
/* line 295, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.site {
  background-image: url(../images/content-mo.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}
/* line 300, ../../compass/sass/cmskern.scss */
.nav-list .nav-header.admin-tasks {
  background-image: url(../images/content-mo.png);
  background-repeat: no-repeat;
  background-position: 18px center;
}

/* line 307, ../../compass/sass/cmskern.scss */
.nav-list li.contentType, .nav-list li.newContentType, .nav-list li.listContentType {
  float: left;
  margin-right: 10px;
  line-height: 22px;
  padding: 0;
}
/* line 313, ../../compass/sass/cmskern.scss */
.nav-list li.contentType {
  margin-left: 20px;
}
/* line 316, ../../compass/sass/cmskern.scss */
.nav-list li a {
  margin: 0;
  padding: 0;
}

/* line 321, ../../compass/sass/cmskern.scss */
.sidebar-nav .nav-list .active > a {
  background-color: transparent;
  color: #30a4b1;
}

/* line 325, ../../compass/sass/cmskern.scss */
.nav > li > a:hover {
  background: none;
}

/* line 328, ../../compass/sass/cmskern.scss */
.nav-list .separator {
  padding: 0 0 10px 0;
}
/* line 330, ../../compass/sass/cmskern.scss */
.nav-list .separator:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

/*
@media(max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media(max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}
*/
/* ~~ Form elements ~~ */
/* line 355, ../../compass/sass/cmskern.scss */
.content fieldset {
  margin-left: 25px;
}

/* line 358, ../../compass/sass/cmskern.scss */
fieldset {
  padding-bottom: 5px;
}

form#selection_form {
    margin-bottom: 0;
}

#selection_form fieldset {
    /* border-top: 1px solid #DDD; */
    /* padding-top: 5px; */
    padding-bottom: 0;
}

/* line 362, ../../compass/sass/cmskern.scss */
#selection_form h3 {
    float: left;
}
#selection_form fieldset.search_box {
  float: right;
}

#selection_form .pagination a {
    line-height: 24px;
}

#selection_form .btn {
    padding: 5px 10px;
}

#selection_form #select_id {
    vertical-align: top;
}

#reference_selected {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 640px;
    float: left;
}

#reference_selected fieldset {
    width: 85%;
}


/* line 367, ../../compass/sass/cmskern.scss */
legend {
  color: #808080;
  font-size: 16px;
  margin-bottom: 0;
  border: none;
}

/* line 373, ../../compass/sass/cmskern.scss */
.subform {
  background: rgba(217, 216, 216, 0.5);
}

/* line 376, ../../compass/sass/cmskern.scss */
legend .ng-directive {
  margin-left: 12px;
}

/* line 380, ../../compass/sass/cmskern.scss */
.form-horizontal .control-group {
  margin-bottom: 6px;
}

.form-horizontal .control-group:before {
    clear: both;
}

/* line 383, ../../compass/sass/cmskern.scss */
.form-horizontal .control-group > label {
  text-align: left;
  width: 170px;
}

.controls ul.ui-selectable,
.controls .radiogroup {
    margin-left: 170px;
}

/* line 387, ../../compass/sass/cmskern.scss */
.form-horizontal .controls {
  margin-left: 0;
}

.help-block {
  margin-left: 170px;
  margin-top: 0;
}

/* line 390, ../../compass/sass/cmskern.scss */
.root > .control-group > .control-label:first-child {
  font-weight: 500;
}

.control-group.object > .controls {
    clear: both;
}

/* line 394, ../../compass/sass/cmskern.scss */
.subelements {
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 401, ../../compass/sass/cmskern.scss */
ul.sortable .subelements {
  background: rgba(255, 255, 255, 0.3);
}

/* line 408, ../../compass/sass/cmskern.scss */
.root + .control-group {
  margin: 0 0 0 -20px;
}

#nodeListSearch input {
    margin-bottom: 0;
}

/* line 421, ../../compass/sass/cmskern.scss */
.input-prepend .add-on, .input-append .add-on {
  background-color: #d9d8d8;
}

.input-prepend, .input-append {
    margin-bottom: 0;
}

/* line 438, ../../compass/sass/cmskern.scss */
input[type="radio"] {
  margin: 0 5px 0 20px;
}

/* line 441, ../../compass/sass/cmskern.scss */
ul.selectBox + input[type="radio"] {
  margin: 0 5px 0 0;
}

/* line 444, ../../compass/sass/cmskern.scss */
pre {
  background: #d9d8d8;
  border: none;
}

/* line 448, ../../compass/sass/cmskern.scss */
.form-actions {
  width: 90%;
  text-align: right;
  background: none;
  border-top: none;
  margin-bottom: 18px;
  margin-top: 18px;
}

/* line 456, ../../compass/sass/cmskern.scss */
.form-horizontal .form-actions {
  padding-left: 0;
}

/* line 460, ../../compass/sass/cmskern.scss */
img.ui-datepicker-trigger {
  margin-left: 10px;
  cursor: pointer;
}

/* line 465, ../../compass/sass/cmskern.scss */
img.image_thumbnail {
  width: 75px;
  display: inline;
}

/*----Buttons-----*/
/* line 470, ../../compass/sass/cmskern.scss */
.btn {
  background-image: none;
  background-color: #d9d8d8;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 15px;
  text-align: center;
}

/* line 488, ../../compass/sass/cmskern.scss */
div.btn_add {
  width: 100%;
  text-align: right;
}

/* line 492, ../../compass/sass/cmskern.scss */
.btn-primary {
  /*@include background-image(linear-gradient(#9DD745, #69AF04));
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
}

/* line 496, ../../compass/sass/cmskern.scss */
.btn-primary {
  background-color: #f7941d;
  background-image: none;
  background-repeat: none;
  border-color: none;
}

/* line 503, ../../compass/sass/cmskern.scss */
ul.sortable {
  list-style: none;
  margin: 0;
}

/* line 508, ../../compass/sass/cmskern.scss */
ul.sortable li {
  padding: 5px;
  margin: 5px;
  cursor: move;
}

/* line 519, ../../compass/sass/cmskern.scss */
.reference input {
  background-color: #fafad2;
  /* cursor: pointer; */
}

/* line 524, ../../compass/sass/cmskern.scss */
.reference span.add-on {
  cursor: pointer;
}

.reference img.thumbnail {
    margin-left: 10px;
}

.modal {
    top: 40%;
    left: 40%;
}

.modal-body {
    padding-bottom: 0;
}

/* line 528, ../../compass/sass/cmskern.scss */
.bootbox.modal {
  max-height: 760px;
  width: 820px;
}

/* line 533, ../../compass/sass/cmskern.scss */
.selectBox {
  /* border: solid 2px #999; */
}

/* line 537, ../../compass/sass/cmskern.scss */
ul.selectBox {
  margin: 0;
}

/* line 541, ../../compass/sass/cmskern.scss */
.selectBox li {
  list-style-type: none;
  display: block;
  background-color: #eee;
  border: solid 1px #ddd;
  margin: 3px;
  padding: 3px;
}

/* line 550, ../../compass/sass/cmskern.scss */
.selectBox .name {
  /* font-weight: bold; */
  font-style: italic;
}

/* line 555, ../../compass/sass/cmskern.scss */
.selectBox li.ui-selecting {
  background: #87B089;
  box-shadow: 0 0 5px #87B089;
}

/* line 560, ../../compass/sass/cmskern.scss */
.selectBox li.ui-selected {
  background: #9CB89D;
  box-shadow: 0 0 5px #87B089;
}

#file-uploader {
    float: left;
    padding-left: 10px;
}

/* line 568, ../../compass/sass/cmskern.scss */
#search_results {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
}

/* ~~ Table elements ~~ */
/* line 575, ../../compass/sass/cmskern.scss */
.table {
  background: white;
}

/* line 579, ../../compass/sass/cmskern.scss */
th {
  color: #27767f;
}

/* line 583, ../../compass/sass/cmskern.scss */
footer p {
  text-align: center;
  /* center align it with the container */
  margin-top: 20px;
}

/* line 588, ../../compass/sass/cmskern.scss */
.container {
  width: 100%;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
  margin: 0;
}

/* line 592, ../../compass/sass/cmskern.scss */
.span12, .container {
  width: none;
  margin: none;
}

/* The white background content wrapper */
/* line 599, ../../compass/sass/cmskern.scss */
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
}

/* Page header tweaks */
/* line 608, ../../compass/sass/cmskern.scss */
.page-header {
  background-color: transparent;
  padding: 20px 0 10px 0;
  margin: 30px 0;
}

/* line 614, ../../compass/sass/cmskern.scss */
.page-header h1 {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: normal;
}

/* line 623, ../../compass/sass/cmskern.scss */
.metadata {
  color: #666666;
  font-size: 10px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

/* line 630, ../../compass/sass/cmskern.scss */
.idInfo {
  float: left;
}

/* line 634, ../../compass/sass/cmskern.scss */
.versionInfo {
  float: right;
  color: #999;
  font-size: 85%;
  margin-bottom: 10px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
/* line 640, ../../compass/sass/cmskern.scss */
.content .span10,
.content .span4 {
  min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
/* line 645, ../../compass/sass/cmskern.scss */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

/* line 651, ../../compass/sass/cmskern.scss */
.topbar .btn {
  border: 0;
}

/* ~~~ Login dialog ~~~ */
/* line 657, ../../compass/sass/cmskern.scss */
#login h1 {
  color: #30a4b1;
}

/* line 661, ../../compass/sass/cmskern.scss */
#login .instructions {
  color: #696969;
}

/* line 665, ../../compass/sass/cmskern.scss */
#menu {
  clear: left;
  float: left;
  list-style: none outside none;
  margin: 15px 5px 15px -160px;
  padding: 0;
  position: relative;
  width: 145px;
}

/* ~~~ Pagination ~~~ */
/* line 677, ../../compass/sass/cmskern.scss */
.pagination ul {
  background: rgba(255, 255, 255, 0.8);
}

/* line 681, ../../compass/sass/cmskern.scss */
.pagination .disabled a, .pagination .disabled a:hover {
  background: #30a4b1;
  color: #ffffff;
}

/* line 687, ../../compass/sass/cmskern.scss */
.pagination a:hover,
.pagination .active a {
  background: #d9d8d8;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }