<!-- Select one existing articles -->

<h3>Select Article</h3>

<ul>
  #{list items: articles, as:'article'}
    <li><a href="#" onclick="updateRef('${article._id}', '${article.data.title}', '${article.data.teaser_text}')">${article.data.title}</a></li>
  #{/list}
</ul>


<fieldset>
    <label for="select_id">Article ID</label>
    <input type="text" id="select_id" name="value" value="${fields['id'].value}" readonly="readonly" />

    <label for="select_title">Title</label>
    <input type="text" id="select_title" name="title" value="${fields['title'].value}" />
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedId    = -1;
    var selectedTitle = "";
    var selectedTeaser = "";

    $(function() {
        selectedId = $('#select_id').val();
        selectedTitle = $('#select_title').val();
    });

    function updateRef(val, title, teaser) {
        selectedId = val;
        $("#select_id").val(val);
        selectedTitle = title;
        $("#select_title").val(title);

        selectedTeaser = teaser;
        $("#select_teaser").val(teaser);
    }

    $("#select_title").on("change", function(event) {
        event.preventDefault();
        selectedTitle = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedId,
            '${fields['title'].targetFQName}': selectedTitle,
            '${fields['teaser_text'].targetFQName}': selectedTeaser
        };
    }

</script>
