<!-- Select one existing articles -->

<h3>Select Article</h3>


<table class="table table-striped">
    <thead>
    <tr>
        <th width="10%">ID</th>
        <th width="10%">Title</th>
        <th width="70%">Teaser</th>
        <th width="10%">Last Modified</th>
    </tr>
    </thead>
    <tbody>
    #{list items: articles, as:'article'}
        <tr>
            <td>
                ${article._id}
            </td>
            <td>
                <a href="#" onclick="updateRef('${article._id}', '${article.data.title}', '${article.data.teaser_text}')">${article.data.title}</a>
            </td>
            <td>
                ${article.data.teaser.text}
            </td>
            <td>
                <span class="datetime">${new java.util.Date(article._modified).format('dd/MMM/yyyy HH:mm')}</span>
            </td>
        </tr>
    #{/list}
    </tbody>
</table>



<fieldset>
    <div class="control-group">
        <label class="control-label" for="select_id">Article ID</label>
        <div class="controls">
            <input type="text" id="select_id" name="value" value="${fields['id'].value}" readonly="readonly" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select_title">Title</label>
        <div class="controls">
            <input type="text" id="select_title" name="title" value="${fields['title'].value}" />
        </div>
    </div>
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedId    = -1;
    var selectedTitle = "";
    var selectedTeaser = "";

    $(function() {
        selectedId = $('#select_id').val();
        selectedTitle = $('#select_title').val();
    });

    function updateRef(val, title, teaser) {
        selectedId = val;
        $("#select_id").val(val);
        selectedTitle = title;
        $("#select_title").val(title);

        selectedTeaser = teaser;
        $("#select_teaser").val(teaser);
    }

    $("#select_title").on("change", function(event) {
        event.preventDefault();
        selectedTitle = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedId,
            '${fields['title'].targetFQName}': selectedTitle
            #{if fields['teaser_text']}
                ,'${fields['teaser_text'].targetFQName}': selectedTeaser
            #{/if}
        };
    }

</script>
