<!-- Select one of the existing assets or upload a new one -->

<h3>Select Asset</h3>

<fieldset>
    <div id="file-uploader">
    </div>
    <div id="asset_list"></div>
</fieldset>


<fieldset>
    <label for="select_ref">Asset Reference</label>
    <input type="text" id="select_ref" name="value" value="${fields['id'].value}" class="input-xxlarge"/>
</fieldset>

<script type="text/javascript">
    var selectedRef = "";

    $(document).ready(function() {
        selectedRef = $('#select_ref').val();
        refreshList();
    });

    $("#select_ref").on("change", function(event) {
        event.preventDefault();
        selectedRef = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedRef
        };
    }

    // ~~

    var uploader = new qq.FileUploader({
        // pass the DOM node (ex. $(selector)[0] for jQuery users)
        element: document.getElementById('file-uploader'),
        // path to server-side upload
        action: '/blobs',
        onComplete: function(id, fileName, responseJSON){
            setTimeout(function(){
                refreshList();
            }, 300);

        }
    });

    function refreshList() {
        $.get('/blobs', function(data) {
            $('#asset_list').html(data);
            console.log('List was retrieved.');
            $("a.thumbnail").on("click", function(event) {
                event.preventDefault();
                selectedRef = $("img:first-child", this).data("objectid");
                console.log('Set value to ' + selectedRef);
                $("#select_ref").val(selectedRef);
            });
        });
    }

</script>
