<!-- Select one of the existing assets or upload a new one -->

<h3>Select Asset</h3>

<fieldset>
    <div id="file-uploader">
    </div>
    <div id="asset_list"></div>
</fieldset>


<fieldset>
    <label for="select_value">Asset Reference</label>
    <input type="text" id="select_value" name="value" value="${asset_ref.value}" class="input-xxlarge"/>
</fieldset>

<script type="text/javascript">
    var selectedValue = "";

    $("#select_value").on("change", function(event) {
        event.preventDefault();
        selectedValue = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${asset_ref.fieldname}': selectedValue
        };
    }

    // ~~

    var uploader = new qq.FileUploader({
        // pass the DOM node (ex. $(selector)[0] for jQuery users)
        element: document.getElementById('file-uploader'),
        // path to server-side upload
        action: '/blobs',
        onComplete: function(id, fileName, responseJSON){
            setTimeout(function(){
                refreshList();
            }, 300);

        }
    });

    $(document).ready(function() {
        refreshList();
    });

    function refreshList() {
        $.get('/blobs', function(data) {
            $('#asset_list').html(data);
            console.log('List was retrieved.');
            $("a.thumbnail").on("click", function(event) {
                event.preventDefault();
                selectedValue = $("img:first-child", this).data("objectid");
                console.log('Set value to ' + selectedValue);
                $("#select_value").val(selectedValue);
            });
        });
    }

</script>
