<!-- Select one of the existing assets or upload a new one -->

<h3>Select Asset or </h3>

<div id="file-uploader">
</div>

<!-- Search mask -->
<fieldset class="search_box">
    <!-- label for="search_term"></label -->
    <input type="text" id="search_term" name="search_term" value="" class="input-medium search-query" />
    <button id="search_assets" class="btn">Search by Title</button>
</fieldset>

<!-- Filled by AJAX search response-->
<div id="search_results"></div>

<!-- Filled by selection from table or manually edited -->
<fieldset>
    <div class="control-group">
        <label class="control-label" for="select_id">Asset ID</label>
        <div class="controls">
            <input type="text" id="select_id" name="value" value="${fields['id'].value}" readonly="readonly"/>
            <img class="thumbnail image_thumbnail" id="select_thumb" src="/blobs/o/${fields['id'].value}">
        </div>
    </div>
</fieldset>


<script type="text/javascript">
    var selectedId = "";
    var THUMB_URL = "/blobs/o/ID";

    $(document).ready(function() {
        selectedId = $('#select_id').val();
        refreshList();
    });

    $("#select_id").on("change", function(event) {
        event.preventDefault();
        selectedId = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedId
        };
    }

    // Trigger search and display HTML result
    $("#search_assets").click(function(event) {
        event.preventDefault();
        displaySelectionPage(1);
    });

    function displaySelectionPage(pageNr) {
        var search_term = $("#search_term").val();
        console.log("Search for asset: " + search_term + " (p. " + pageNr + ")");
        $.get('/helper/BlobSelection/searchByFilename', {query: search_term, page: pageNr}, function(data) {
            $('#search_results').html(data);
        });
    }

    // ~~

    var uploader = new qq.FileUploader({
        // pass the DOM node (ex. $(selector)[0] for jQuery users)
        element: document.getElementById('file-uploader'),
        // path to server-side upload
        action: '/blobs',
        onComplete: function(id, fileName, responseJSON) {
            setTimeout(function(){
                refreshList();   // TODO: display in its own list
            }, 300);
        }
    });

    function refreshList() {
        $.get('/blobs', function(data) {
            $('#search_results').html(data);
            console.log('List was retrieved.');
            $("a.thumbnail").on("click", function(event) {
                event.preventDefault();
                selectedId = $("img:first-child", this).data("objectid");
                //console.log('Set value to ' + selectedId);
                $("#select_id").val(selectedId);
                $("#select_thumb").attr("src", THUMB_URL.replace(/ID/, selectedId));
                highlight($("#select_id"));
            });
        });
    }

</script>
