<!-- Select one of the existing images or TODO: create a new one (on-the-fly) -->

<h3>Select Image</h3>

<fieldset>
    <label for="select-value">Value</label>
    <input type="text" id="select-value" name="value" value="${teaserbild_intern_ref.value}"/>
</fieldset>

<script type="text/javascript">
    var selectedValue = "";

    $("#select-value").on("change", function(event) {
        event.preventDefault();
        selectedValue = $(this).val();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${teaserbild_intern_ref.fieldname}': selectedValue
        };
    }
</script>
