<!-- Select one of the existing images or TODO: create a new one (on-the-fly) -->

<h3>Select Image</h3>

<!-- Search mask -->
<fieldset class="search_box">
    <!-- label for="search_term"></label -->
    <input type="text" id="search_term" name="search_term" value="" class="input-medium search-query" />
    <button id="search_images" class="btn">Search by Title</button>
</fieldset>

<!-- Filled by AJAX search response-->
<div id="search_results"></div>

<!-- Filled by selection from table or manually edited -->
<fieldset>
    <div class="control-group">
        <label class="control-label" for="select_id">Image ID</label>
        <div class="controls">
            <input type="text" id="select_id" name="value" value="${fields['id'].value}" readonly="readonly"/>
            <img class="image_thumbnail" id="select_thumb" src="/image/${fields['id'].value}/img/o?propertyName=asset_ref">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select_title">Title</label>
        <div class="controls">
            <input type="text" id="select_title" name="title" value="${fields['title'].value}"/>
        </div>
    </div>
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedId    = "";
    var selectedTitle = "";
    var THUMB_URL     = "/image/ID/img/o?propertyName=asset_ref";

    $(function() {
        selectedId = $('#select_id').val();
        selectedTitle = $('#select_title').val();
        displaySelectionPage(1);
    });

    function updateRef(val, title) {
        selectedId = val;
        $("#select_id").val(val);
        $("#select_thumb").attr("src", THUMB_URL.replace(/ID/, val));
        selectedTitle = title;
        $("#select_title").val(title);
        highlight($("#select_id"));
    }

    $("#select_title").on("change", function (event) {
        event.preventDefault();
        selectedTitle = $(this).val();
    });

    // Contract between Caller and Callout
    //     returns [ID, TITLE]
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedId,
            '${fields['title'].targetFQName}': selectedTitle
        };
    }

    // Trigger search and display HTML result
    $("#search_images").click(function(event) {
        event.preventDefault();
        displaySelectionPage(1);
    });

    function displaySelectionPage(pageNr) {
        var search_term = $("#search_term").val();
        console.log("Search for images: " + search_term + " (p. " + pageNr + ")");
        $.get('/helper/ContentNodeSelection/searchByTitle', {type: 'image', query: search_term, page: pageNr}, function(data) {
            $('#search_results').html(data);
        });
    }

</script>