*{
    Callout contract:
    possible srcPropnames: id, title, ancestors
}*

#{set calloutfields = ['id', 'title', 'ancestors'] /}

<!-- Select one existing nodes -->
<h3>Select Node</h3>

<!-- Search mask -->
<fieldset class="search_box">
    <!-- label for="search_term"></label -->
    <input type="text" id="search_term" name="search_term" value="" class="input-medium search-query" />
    <button id="search_nodes" class="btn">Search by Title</button>
</fieldset>

<!-- Filled by AJAX search response-->
<div id="search_results"></div>

<!-- Filled by selection from table or manually edited -->
<fieldset>
    <div class="control-group">
        <label class="control-label" for="select_id">Node ID</label>
        <div class="controls">
            <input type="text" id="select_id" name="value" value="${fields['id']?.value}" readonly="readonly" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select_title">Title</label>
        <div class="controls">
            <input type="text" id="select_title" name="title" value="${fields['title']?.value}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select_ancestors">Ancestors</label>
        <div class="controls">
            <input type="text" id="select_ancestors" name="ancestors" value="${fields['ancestors']?.value}" />
        </div>
    </div>
</fieldset>


<script type="text/javascript">
    var selectedId        = -1;
    var selectedTitle     = "";
    var selectedAncestors = "";

    $(function () {
        selectedId = $('#select_id').val();
        selectedTitle = $('#select_title').val();
        selectedAncestors = $('#select_ancestors').val() + ',' + selectedId;
        displaySelectionPage(1);
    });

    function updateRef(val, title, ancestors) {
        console.log("updateRef(" + val + ", " + title + ", " + ancestors);
        selectedId = val;
        $("#select_id").val(val);

        selectedTitle = title;
        $("#select_title").val(title);

        selectedAncestors = selectedId;
        if (ancestors) {
            selectedAncestors = selectedAncestors + ',' + ancestors;
        }
        $("#select_ancestors").val(ancestors);

    }

    $("#select_title").on("change", function (event) {
        event.preventDefault();
        selectedTitle = $(this).val();
    });

    // contract: returns only the fields, which are in srcPropNames
    function calloutGetSelectedValues() {
        return {
            #{list items:calloutfields, as:'litem'}
              #{if fields[litem]}
                '${fields[litem].targetFQName}':selected${litem.capitalizeWords()},
              #{/if}
            #{/list}
        }
    }

    // Trigger node search, display HTML result
    $("#search_nodes").click(function(event) {
        event.preventDefault();
        displaySelectionPage(1);
    });

    function displaySelectionPage(pageNr) {
        var search_term = $("#search_term").val();
        console.log("Search for nodes: " + search_term + " (p. " + pageNr + ")");
        $.get('/helper/ContentNodeSelection/searchByTitle', {type: 'node', query: search_term, page: pageNr}, function(data) {
            $('#search_results').html(data);
        });
    }

</script>