<h3>Select Sidebar</h3>

<ul>
#{list items: sidebars, as:'sidebar'}
    <li><a href="#" onclick="updateRef('${sidebar._id}', '${sidebar.data.title}')">${sidebar.data.title}</a></li>
#{/list}
</ul>


<fieldset>
    <label for="select_id">Sidebar ID</label>
    <input type="text" id="select_id" name="value" value="${fields['id'].value}" readonly="readonly"/>
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedId = "";

    function updateRef(val, title) {
        selectedId = val;
        $("#select_id").val(val);
    }

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${fields['id'].targetFQName}': selectedId
        };
    }

</script>
