*{
    Callout contract:
    possible srcPropnames: id
}*
#{set calloutfields = ['id', 'title'] /}

<h3>Select Sidebar</h3>

<!-- Search mask -->
<fieldset>
    <!-- label for="search_term"></label -->
    <input type="text" id="search_term" name="search_term" value="" class="input-medium" />
    <button id="search_sidebars" class="btn">Search by Title</button>
</fieldset>

<!-- Filled by AJAX search response-->
<div id="search_results"></div>

<!-- Filled by selection from table or manually edited -->
<fieldset>
    <div class="control-group">
        <label class="control-label" for="select_id">Sidebar ID</label>
        <div class="controls">
            <input type="text" id="select_id" name="value" value="${fields['id']?.value}" readonly="readonly" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="select_title">Title</label>
        <div class="controls">
            <input type="text" id="select_title" name="title" value="${fields['title']?.value}" />
        </div>
    </div>
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedId = "";
    var selectedTitle = "";

    function updateRef(val, title) {
        selectedId = val;
        $("#select_id").val(val);
        selectedTitle = title;
        $("#select_title").val(title);
    }

    // contract: returns only the fields, which are in srcPropNames
    function calloutGetSelectedValues() {
        return {
          #{list items:calloutfields, as:'litem'}
            #{if fields[litem]}
             '${fields[litem].targetFQName}':selected${litem.capitalizeWords()},
            #{/if}
          #{/list}
        }
    }

    // Trigger sidebar search, display HTML result
    $("#search_sidebars").click(function(event) {
        event.preventDefault();
        displaySelectionPage(1);
    });

    function displaySelectionPage(pageNr) {
        var search_term = $("#search_term").val();
        console.log("Search for sidebars: " + search_term + " (p. " + pageNr + ")");
        $.get('/helper/ContentNodeSelection/searchByTitle', {type: 'sidebar', query: search_term, page: pageNr}, function(data) {
            $('#search_results').html(data);
        });
    }

</script>
