<h3>Select Sidebar</h3>

<ul>
#{list items: sidebars, as:'sidebar'}
    <li><a href="#" onclick="updateRef('${sidebar._id}', '${sidebar.data.title}')">${sidebar.data.title}</a></li>
#{/list}
</ul>


<fieldset>
    <label for="select_value">Sidebar ID</label>
    <input type="text" id="select_value" name="value" value="${src_prop_id}" readonly="readonly"/>
</fieldset>


<script type="text/javascript">

    // we need to hold the values in a separate variable, otherwise data is lost when the dialog is closed
    var selectedValue = "";

    function updateRef(val, title) {
        selectedValue = val;
        $("#select_value").val(val);
    }

    $("#select_title").on("change", function (event) {
        event.preventDefault();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValues() {
        return {
            '${sidebar_idref.fieldname}':selectedValue
        };
    }

</script>
