<h3>Select Article</h3>

<ul>
    #{list items: articles, as:'article'}
    <li><a href="#" onclick="updateRef('${article._id}', '${article.data.teaser_title}', '${article.data.teaser_text}')">${article.data.title}</a></li>
    #{/list}
</ul>

<fieldset>
    <label for="id_field">Article ID</label>
    <input type="text" id="id_field" name="value" readonly="readonly" />

    <label for="title_field">Title</label>
    <input type="text" id="title_field" name="title" />

    <label for="teaser_field">Teaser</label>
    <textarea id="teaser_field" ></textarea>
</fieldset>


<script type="text/javascript">

    var temp = Array();

    function calloutGetSelectedValues() {
        var params = Array('${(fieldnames as String[]).join('\',\'')}');
        var result = {};

    for (idx in params) {
            if (params[idx] && "" !== params[idx]) {

                result[params[idx]] = temp[idx];
            }
        }
        return result;
    }

    function updateRef(id, title, teaser) {
        $('#id_field').val(id);
        $('#title_field').val(title);
        $('#teaser_field').val(teaser);
    temp[0] = id;
    temp[1] = title;
    temp[2] = teaser;
   }

</script>
