#{extends 'main.html' /}
#{set title:'Content Overview' /}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.18.custom.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/contentNodeDeleteDialog.js'}"></script>
#{/set}


<script type="text/javascript">
    $(document).ready(function() {
        highlight($("tr.highlight > td"));
    });
</script>


#{list items:content.entrySet(), as:'entry'}
<div class="row-fluid">

    <h3 class="contentTypeName">${entry.key.displayName} <small>${entry.key.description}
        #{secure.check 'editor,admin'}
          <a href="@{ContentNodes.blank(entry.key.name)}"><i class="icon-plus"></i></a> </small>
        #{/secure.check}
    </h3>

    #{if entry.value}
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="30%">Title</th>
                <th width="25%">Actions</th>
                <th width="20%">Version</th>
                <th width="25%">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            #{list items:entry.value.objects, as:'node'}
            <tr #{if node.id == request.params.get("highlightId")}class="highlight"#{/if}>
                <td>
                   #{secure.check 'editor,admin'}<a href="@{ContentNodes.edit(node.type, node.id)}">#{/secure.check}
                     ${node.title}
                   #{secure.check 'editor,admin'}</a>#{/secure.check}
                </td>
                <td>
                    <a href="@{ContentNodesApi.getBody(node.type, node.id)}"><i class="icon-eye-open" title="View Content JSON"></i></a>
                    <a href="@{ContentNodesApi.getFull(node.type, node.id)}"><i class="icon-info-sign" title="View Complete JSON"></i></a>
                    #{secure.check 'editor,admin'}
                      <a href="@{ContentNodes.edit(node.type, node.id)}"><i class="icon-pencil" title="Edit"></i></a>
                      <a href="@{ContentNodes.versions(node.type, node.id)}"><i class="icon-road" title="Show Versions"></i></a>
                    #{/secure.check}
                    #{secure.check 'admin'}
                        <a href="#" class="deleteContentNode" data-id="${node.id}" data-type="${node.type}" data-title="${node.title}"><i class="icon-trash" title="Delete"></i></a>
                    #{/secure.check}
                </td>
                <td>
                    <span class="version">${node.version}</span> by <span class="author">${node.modifier}</span>
                </td>
                <td>
                    <span class="datetime">${node.modified.format('dd/MMM/yyyy HH:mm')}</span>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
    #{/if}
    </div>

#{/list}

