#{extends 'main.html' /}
#{set title: 'Create New Content Node' /}

#{set 'moreScripts'}
    <!--suppress XmlUnboundNsPrefix -->
    <script type="text/javascript" src="@{'/public/javascripts/angular/angular.js'}" ng:autobind></script>
    <!-- script type="text/javascript" src="@{'/public/javascripts/services.js'}"></script -->
    <script type="text/javascript" src="@{'/public/javascripts/controllers.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/filters.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/widgets.js'}"></script>

#{/set}

<script type="text/javascript">

    var globalContentType   = "${contentType.slug}";
    var globalContentSchema =  ${contentType.jsonForm.raw()};

    // ~~ Initialize Data
    var globalContentNodeId = -1;
    var globalContentNode   = { };

</script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<h2>Create ${contentType.displayName}</h2>

<div ng:controller="CreateContentNodeCtrl">

    <!-- Main form entry -->
    <form class="form-horizontal" ng:submit="submit()">
        <my:form schema="contentSchema" data="contentNode"></my:form>

        <div class="form-actions">
            <button class="btn btn-primary">Save</button>
            <button ng:click="reset()" class="btn">Cancel</button>
        </div>

    </form>

    <hr>
    <div id="model">
        contentNode = <pre>{{contentNode}}</pre>
    </div>

</div>