#{extends 'main.html' /}
#{set title: 'Edit Content Node' /}

#{set 'moreScripts'}
    <!--suppress XmlUnboundNsPrefix -->
    <script type="text/javascript" src="@{'/public/javascripts/angular/angular.js'}" ng:autobind></script>
    <!-- script type="text/javascript" src="@{'/public/javascripts/services.js'}"></script -->
    <script type="text/javascript" src="@{'/public/javascripts/controllers.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/filters.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/widgets.js'}"></script>
#{/set}

<script type="text/javascript">

    var globalContentType   = "${contentType.slug}";
    var globalContentSchema =  ${contentType.jsonForm.raw()};

    // ~~ define data we are working with
    var globalContentNodeId = "${contentNode.id}";
    var globalContentNode   =  ${contentNode.jsonContent.raw()};


</script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<h2>Edit content</h2>

<div ng:controller="CreateContentNodeCtrl">

    <form class="form-horizontal" ng:submit="submit()">
        <my:form schema="contentSchema" data="contentNode"></my:form>

        <div class="form-actions">
            <button class="btn btn-primary">Save</button>
            <button ng:click="reset()" class="btn">Cancel</button>
        </div>
    </form>

    <hr>
    <div id="model">
        contentNode = <pre>{{contentNode}}</pre>
    </div>

</div>