<!--suppress XmlUnboundNsPrefix -->
#{extends 'main.html' /}
#{set title: 'Edit ' + contentType.displayName /}

#{set 'moreStyles'}
    #{stylesheet 'ui-lightness/jquery-ui-1.8.18.custom.css' /}
#{/set}

#{set 'moreScripts'}
    #{script 'jquery/jquery-ui-1.8.18.custom.min.js' /}

    #{script 'tinymce/tiny_mce.js' /}
    #{script 'tinymce/jquery.tinymce.js' /}

    *{-- Basic stuff --}*
    #{script 'misc/date.format.js' /}
    #{script 'misc/underscore-min.js' /}

    *{-- Angular Core Library --}*
    <script type="text/javascript" src="@{'/public/javascripts/angular/angular.js'}" ng:autobind></script>

    *{-- Angular Add-Ons --}*
    #{script 'angular/addons/angular-widgets.js'/}
    #{script 'angular/addons/angular-formatters.js'/}

    *{-- Custom Angular Scripts for cmskern --}*
    #{script 'controllers.js' /}
    #{script 'filters.js' /}
    #{script 'widgets.js' /}

#{/set}

<script type="text/javascript">

    var globalContentType   = "${contentType.slug}";
    var globalContentSchema =  ${contentType.jsonForm.raw()};
    var globalSchemaRules   =  globalContentSchema.rules;

    // ~~ define data we are working with
    var globalContentNodeId = "${contentNode.id}";
    var globalContentNode   =  ${contentNode.jsonContent.raw()};

</script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="metaInfo">
    Current Version: ${contentNode.version}, last edited on ${contentNode.modified.format('yyyy-MM-dd (HH:mm:ss)')}
</div>

<div ng:controller="EditContentNodeCtrl">

    <form class="form-horizontal" ng:submit="submit()">
        <my:form schema="contentSchema.fields" data="contentNode"></my:form>

        <div class="form-actions">
            <button class="btn btn-primary">Save</button>
            <button ng:click="reset()" class="btn">Cancel</button>
        </div>
    </form>

    <hr>
    <div id="model">
        contentNode = <pre>{{contentNode}}</pre>
    </div>

</div>