<!--
// define schema for the data (each attribute except for 'children' translates to
// DOM element attribute of the same name).
// if 'type' is undefined, it is considered to be 'text'

//CreateContentNodeCtrl.validatorRegExps = {
//        state: /[A-Z]{2}/
//    };


    <a href="" ng:click="contentNode.teasers.$add()">add teaser</a>

-->



<!-- TEST START -->
<div>
    [<a href="" ng:click="people.$add()">add empty</a>]
    [<a href="" ng:click="people.$add({name:'John', sex:'male'})">add 'John'</a>]
    [<a href="" ng:click="people.$add({name:'Mary', sex:'female'})">add 'Mary'</a>]

    <ul ng:init="people=[]">
        <li ng:repeat="person in people">
            <input name="person.name">
            <select name="person.sex">
                <option value="">--chose one--</option>
                <option>male</option>
                <option>female</option>
            </select>
            [<a href="" ng:click="people.$remove(person)">X</a>]
        </li>
    </ul>
    <pre>people = {{people}}</pre>
</div>
<!-- TEST END -->




<hr>

<div id="model">
    contentNode = <pre>{{contentNode}}</pre>
</div>
