<!--suppress XmlUnboundNsPrefix -->
#{extends 'main.html' /}
#{set title: 'Create ' + contentType.displayName /}

#{set 'moreStyles'}
    #{stylesheet 'ui-lightness/jquery-ui-1.8.18.custom.css' /}
#{/set}

#{set 'moreScripts'}
    #{script 'jquery/jquery-ui-1.8.18.custom.min.js' /}

    #{script 'tinymce/tiny_mce.js' /}
    #{script 'tinymce/jquery.tinymce.js' /}

    *{-- Basic stuff --}*
    #{script 'misc/date.format.js' /}
    #{script 'misc/underscore-min.js' /}

*{-- Angular Core Library --}*
    <script type="text/javascript" src="@{'/public/javascripts/angular/angular.js'}" ng:autobind></script>

    *{-- Angular Add-Ons --}*
    #{script 'angular/addons/angular-widgets.js'/}
    #{script 'angular/addons/angular-formatters.js'/}

    *{-- Custom Angular Scripts for cmskern --}*
    #{script 'controllers.js' /}
    #{script 'filters.js' /}
    #{script 'widgets.js' /}

#{/set}

<script type="text/javascript">

    var globalContentType   = "${contentType.slug}";
    var globalContentSchema =  ${contentType.jsonForm.raw()};
    var globalSchemaRules   =  globalContentSchema.rules;

    // ~~ initialize data
    var globalContentNodeId = -1;
    var globalContentNode   = {};

</script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div ng:controller="EditContentNodeCtrl">

    <!-- Main form for editing content -->
    <form class="form-horizontal" ng:submit="submit()">
        <my:form schema="contentSchema.properties" data="contentNode"></my:form>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn" ng:click="cancel()">Cancel</button>
        </div>
    </form>

    <div id="model">
        contentNode = <pre>{{contentNode}}</pre>
    </div>

</div>