#{extends 'main.html' /}
#{set 'pageHeader'}
    <h1 class="contentTypeName">${contentType.displayName} <small>${contentType.description}
        #{secure.check 'editor,admin'}
            <a href="@{blank(contentType.name)}"><i class="icon-plus"></i></a> </small>
        #{/secure.check}
    </h1>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.18.custom.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/contentNodeDeleteDialog.js'}"></script>
#{/set}

<div class="row-fluid">

    <div id="nodeListSearch">
        #{search /}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th width="30%">Title</th>
            <th width="25%">Actions</th>
            <th width="20%">Version</th>
            <th width="25%">Last Modified</th>
        </tr>
        </thead>
        <tbody>
        #{list items:nodes.objects, as:'node'}
        <tr #{if node.id == request.params.get("highlightId")}class="highlight"#{/if}>
            <td>
                #{secure.check 'editor,admin'}<a href="@{ContentNodes.edit(node.type, node.id)}">#{/secure.check}
                    ${node.title}
                #{secure.check 'editor,admin'}</a>#{/secure.check}
            </td>
            <td>
                <a href="@{ContentNodesApi.getBody(node.type, node.id)}"><i class="icon-eye-open" title="View Content JSON"></i></a>
                <a href="@{ContentNodesApi.getFull(node.type, node.id)}"><i class="icon-info-sign" title="View Complete JSON"></i></a>
                #{secure.check 'editor,admin'}
                    <a href="@{ContentNodes.edit(node.type, node.id)}"><i class="icon-pencil" title="Edit"></i></a>
                    <a href="@{ContentNodes.versions(node.type, node.id)}"><i class="icon-road" title="Show Versions"></i></a>
                #{/secure.check}
                #{secure.check 'admin'}
                    <a href="#" class="deleteContentNode" data-id="${node.id}" data-type="${node.type}"><i class="icon-trash" title="Delete"></i></a>
                #{/secure.check}
            </td>
            <td>
                <span class="version">${node.version}</span> by <span class="author">${node.modifier}</span>
            </td>
            <td>
                <span class="datetime">${node.modified.format('dd/MMM/yyyy HH:mm')}</span>
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>

    <div class="pagination">
        #{pagination totalCount: nodes.totalCount, pageSize: pageSize /}
    </div>

</div>