<h5>Select Asset</h5>

<fieldset>
    <label for="select-value">Value</label>
    <input type="text" id="select-value" name="value" value="${params.value}"/>
</fieldset>

<script type="text/javascript">
    var selectedValue = "";

    $("#select-value").on("change", function(event) {
        selectedValue = $(this).val();
        event.preventDefault();
    });

    // Contract between Caller and Callout
    function calloutGetSelectedValue() {
        return {
            value: selectedValue
        };
    }
</script>
