<div>
    #{if result.objects}
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="35%">Filename</th>
                <th width="35%">Image</th>
                <th width="25%">Uploaded</th>
                <th width="25%">Uploader</th>
            </tr>
            </thead>
            <tbody>
                #{list items: result.objects, as:'asset'}
                <tr>
                    <td>
                        ${asset.id}
                    </td>
                    <td>
                        <a href="#" onclick="updateRef('${asset.id}')">${asset.filename}</a>
                    </td>
                    <td>
                        <a href="#" onclick="updateRef('${asset.id}')">
                            <img class="image_thumbnail" data-objectid="${asset.id}" src="${asset.url}" alt="${asset.filename}" title="${asset.filename}">
                        </a>
                    </td>
                    <td>
                       ${asset.uploadDate?.format('dd/MMM/yyyy HH:mm')}
                    </td>
                    <td>
                        ${asset.uploader}
                    </td>
                </tr>
                #{/list}
            </tbody>
        </table>

        #{if nrPages > 1}
        <div class="pagination">
            #{callout.pagination totalCount: result.totalCount /}
        </div>
        #{/if}
    #{/if}
    #{else}
       No results found for <em>${query}</em>.
    #{/else}
</div>