<div>
    #{if result.objects}
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="30%">Title</th>
                <th width="25%">Parent</th>
                <th width="40%">Path</th>
            </tr>
            </thead>
            <tbody>
            #{list items: result.objects, as:'node'}
            <tr>
                <td>
                    ${node._id}
                </td>
                <td>
                    <a href="#" onclick="updateRef('${node._id}', '${node.data.title}', '${node.data.ancestors_idref}')">${node.data.title}</a>
                </td>
                <td>
                    ${node.data.parent_title}
                </td>
                <td>
                    ${node.data.path}
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>

        #{if nrPages > 1}
        <div class="pagination">
            #{callout.pagination totalCount: result.totalCount /}
        </div>
        #{/if}
    #{/if}
    #{else}
       No results found for <em>${query}</em>.
    #{/else}
</div>