#{extends 'main.html' /}
#{set title:'Welcome to cmskern' /}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.17.custom.min.js'}"></script>
#{/set}


<script type="text/javascript">
    $(document).ready(function() {
        var origColor = $("tr.highlight > td").css('background-color');
        $("tr.highlight > td").animate({backgroundColor: '#33ff33'});
        $("tr.highlight > td").animate({backgroundColor: origColor});
    });
</script>


<h2>Available content</h2>

#{list items:content.entrySet(), as:'entry'}

<h3 class="contentTypeName">${entry.key.displayName} <small>${entry.key.description}   <a href="/${entry.key.slug}/edit"><i class="icon-plus"></i></a> </small></h3>

#{if entry.value}
<table class="table table-striped">
    <thead>
        <tr>
            <th width="33%">ID</th>
            <th width="33%">Actions</th>
            <th width="33%">Last Modified</th>
        </tr>
    </thead>
    <tbody>
        #{list items:entry.value, as:'node'}
        <tr #{if node.id == request.params.get("highlightId")}class="highlight"#{/if}>
            <td>
                ${node.id}
            </td>
            <td>
                <a href="/${node.type}/${node.id}"        ><i class="icon-eye-open" title="View Content JSON"></i></a>
                <a href="/${node.type}/${node.id}/full"   ><i class="icon-info-sign" title="View Complete JSON"></i></a>
                <a href="/${node.type}/${node.id}/edit"   ><i class="icon-pencil" title="Edit"></i></a>
                <a href="/${node.type}/${node.id}/delete" ><i class="icon-trash" title="Delete"></i></a>
            </td>
            <td>
                ${node.modified.format('yyyy-MM-dd (HH:mm:ss)')}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>
#{/if}


#{/list}

