#{extends 'main.html' /}
#{set title:'Welcome to cmskern' /}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.17.custom.min.js'}"></script>
#{/set}


<script type="text/javascript">
    $(document).ready(function() {
        var origColor = $("tr.highlight > td").css('background-color');
        $("tr.highlight > td").animate({backgroundColor: '#33ff33'});
        $("tr.highlight > td").animate({backgroundColor: origColor});
    });
</script>


<h2>Available content</h2>

#{list items:content.entrySet(), as:'entry'}

<h3 class="contentTypeName">${entry.key.displayName} <small>${entry.key.description}   <a href="/${entry.key.slug}/edit" class="btn-primary btn-small">+</a> </small></h3>

#{if entry.value}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
        #{list items:entry.value, as:'node'}
        <tr #{if node.id == request.params.get("highlightId")}class="highlight"#{/if}>
            <td>
                ${node.id}
                &nbsp; &nbsp;
                <a href="/${node.type}/${node.id}"        class="btn btn-small">View Content</a>
                <a href="/${node.type}/${node.id}/full"   class="btn btn-small">View JSON</a>
                <a href="/${node.type}/${node.id}/edit"   class="btn btn-primary btn-small">Edit</a>
                <a href="/${node.type}/${node.id}/delete" class="btn btn-small">Delete</a>
            </td>
            <td>
                ${node.modified.format('yyyy-MM-dd (HH:mm:ss)')}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>
#{/if}


#{/list}

