<!--suppress XmlUnboundNsPrefix -->
#{extends 'main.html' /}
#{set title: 'TEST' /}

#{set 'moreStyles'}
    #{stylesheet 'ui-lightness/jquery-ui-1.8.18.custom.css' /}
    #{stylesheet 'jquery.wysiwyg.css' /}
#{/set}

#{set 'moreScripts'}
    #{script 'jquery/jquery-ui-1.8.18.custom.min.js' /}
    <!-- script type="text/javascript" src="http://resources.holycrap.ws/jscripts/tiny_mce/tiny_mce.js"></script -->
    #{script 'misc/jquery.wysiwyg.js' /}

    #{script 'misc/date.format.js' /}
    #{script 'misc/underscore-min.js' /}

#{/set}

<script type="text/javascript">
    $(function() {
        $('#wysiwyg').wysiwyg();
    });
</script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<div>

    <form class="form-horizontal">

        <textarea id="wysiwyg" rows="10" cols="100">

        </textarea>

        <div class="form-actions">
            <button class="btn btn-primary">Save</button>
            <button class="btn">Cancel</button>
        </div>
    </form>

</div>